{% extends "base_externo.html" %}
{% block subtitulo %}Cadastro Confirmado{% endblock %}
{% block content %}
<div class="container">
    <h1 class="display-5">O seu Cadastro Confirmado!</h1>
    <hr>
    <p class="lead">
        Olá, é com grande alegria que damos as boas-vindas a você na plataforma Cidapro! Parabéns por dar o primeiro passo em direção à obtenção da sua cidadania estrangeira no Brasil.
        Sabemos que esse é um momento importante e muitas vezes desafiador, e estamos aqui para facilitar todo o processo, oferecendo as melhores ferramentas e informações para que você consiga realizar seu sonho. Nossa equipe está comprometida em fornecer suporte contínuo e personalizado, garantindo que cada etapa seja clara e acessível.
        Explore nossos recursos, tire suas dúvidas e conte com nosso apoio ao longo dessa jornada. Estamos animados em fazer parte dessa conquista junto com você.
        Você pode efetuar o seu login no sistema <a href="/">clicando aqui</a>.
        Mais uma vez, parabéns e seja bem-vindo(a) ao Cidapro!
    </p>

    <p class="lead">
        Atenciosamente,
        Equipe Cidapro
    </p>
 
</div>
{% endblock %}