<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/usuario/examinador/pagina_inicial">
            <i class="bi bi-flag-fill"></i>
            Cidapro
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/usuario/examinador/visualizar_solicitante">Visualizar solicitante </a>
                <a class="nav-link" href="/usuario/examinador/analisar_solicitacao">Analisar solicitação</a>
                <a class="nav-link" href="/usuario/sair">Sair</a>
            </div>
        </div>
    </div>
</nav>