{% extends "pages/base_interno.html" %}
{% block subtitulo %}Analisar Solicitação{% endblock %}
{% block content %}
<div class="container mt-3">
    <h1 class="display-5"><b>Analisar Solicitação</b></h1>
    <hr>
</div>

<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data/Hora Solicitação</th>
                <th>Status</th>
                <th>País</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for solicitacao in solicitacoes %}
            
            
            {% endfor %} -->
        </tbody>
    </table>
</div>
{% endblock %}