{% extends "pages/base_externo.html" %}
{% block subtitulo %}Sobre{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="display-5 mt-3">Sobre o Cidapro</h1>
        <hr>
        <p class="lead">
            O Cidapro é um projeto desenvolvido para a disciplina de Desenvolvimento Web, ministrada pelo Professor Doutor Ricardo Maroquio, para os alunos do sétimo período do curso de Bacharelado em Sistemas de Informação do Instituto Federal do Espírito Santo, campus Cachoeiro de Itapemirim.

            Este projeto consiste em uma aplicação web que visa facilitar a obtenção de cidadania estrangeira para brasileiros, idealizado pelos alunos Igor Almeida da Silva e Júlia Borges Santos. Utilizando as melhores práticas de desenvolvimento aprendidas com o professor, assim como estudos próprios dos alunos, o Cidapro combina conhecimento acadêmico e prático para oferecer uma solução eficiente e acessível para aqueles que buscam adquirir cidadania estrangeira.
        </p>

        <a class="text-decoration-none" href="/">Voltar</a>
    </div>

    <div>
        <h2 class="display-5 mt-3">Nossas redes sociais</h2>
        <hr>

        <div>
            <p class="lead">
                <a class="text-decoration-none" href="https://www.linkedin.com/in/igoralmeidadasilva/">
                    <i class="bi bi-linkedin"></i>
                    <span>Igor Almeida da Silva </span>
                </a>
            </p>
        </div>

        <div>
            <p class="lead">
                <a class="text-decoration-none" href="https://www.linkedin.com/in/julia-borgess/">
                    <i class="bi bi-linkedin"></i>
                    <span>Júlia Borges Santos</span>
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
