{% extends "pages/base_externo.html" %}
{% block subtitulo %}Erro{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-5">Erro</h1>
    <div class="row row-cols-1">
        <div class="col text-center">
            <img class="img-fluid w-50" src="/presentation/static/img/500.png" alt="Página não encontrada">
        </div>
        <div class="col">
            <p class="display-5 lead">
                Parece que estamos com problemas. Por favor entre em contato com o suporte.
            </p>
            <a class="text-decoration-none" href="/">Voltar</a>
        </div>
    </div>
</div>
{% endblock %}


