<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/presentation/static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/presentation/static/lib/bootstrap-icons/font/bootstrap-icons.min.css">
</head>
<body>
    {% include "cabecalho_solicitante.html" %}
    {% block content %}

    {% endblock %}
    <script src="/presentation/static/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>